<aside class="sidebar" style="width: auto;">
  <h2>Procohat Panel</h2>
  <!-- <p class="info">
    Sidebar text area. This explains the admin panel and features like table,
    image gallery, users and document approval.
  </p> -->

  <ul>
    <li [ngClass]="{active: tab==='table'}" (click)="change('table')"> Table</li>
    <li [ngClass]="{active: tab==='gallery'}" (click)="change('gallery')"> Image Gallery</li>
    <li [ngClass]="{active: tab==='users'}" (click)="change('users')"> Users</li>
    <li [ngClass]="{active: tab==='documents'}" (click)="change('documents')"> Documents</li>
  </ul>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
</aside>
